.player {
  width: 800px;
  height: 600px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.container-buttons {
  background-color: black;
  display: flex;
  align-items: center;
}
.vp-button {
  width: 35px;
  height: 45px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color:white;
  font-size: 18px;
}
.vp-button:focus {
  outline: none;
}
.vp-container {
  flex-grow: 1;
}
.time-display {
  color: white;
  font-size: 16px;
  white-space: nowrap;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.vp-progress {
  background-color: grey;
  border-radius: 10px;
  height: 5px;
  flex-grow: 1;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 10px;
}
.vp-progress-bar {
  background-color: red;
  height: 100%;
  width: 20%;
}
.vp-progress-slider {
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  opacity: 0;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.vp-progress:hover .vp-progress-slider {
  opacity: 1;
  transition-timing-function: ease-in;
}